video {
  display: block;
 /* margin: 0 auto;*/
}

h1 {
	font-family: Verdana;
	font-weight: bold;
	color:Gray;
  text-align: center
}

button {
  border: 2px solid Black;
  background-color: Gray;
  width: 150px;
  height: 30px;
  margin: 5px;
 }

}
body {
  background-color: White;
}

.Content {
	float:left;
}
